body {
    color:pink;
    font-family: Roboto, Verdana, sans-serif;
    background-color: black;
}

img {
    width: 20px;
    height: 20px;
}

.right {
    color: #258498;
}

.wrong {
    color: #AE1E85;
}

